In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Model
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from keras.optimizers import RMSprop
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from keras.utils import pad_sequences 
from keras.utils import to_categorical
from keras.callbacks import EarlyStopping

In [15]:
df = pd.read_csv('/content/drive/MyDrive/spam.csv',delimiter=',',encoding='latin-1')
df.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [16]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [17]:
X = df.v2
Y = df.v1
le = LabelEncoder()
Y = le.fit_transform(Y)
Y = Y.reshape(-1,1)

In [18]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.15)

In [19]:
max_words = 1000
max_len = 150
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(X_train)
sequences = tok.texts_to_sequences(X_train)
sequences_matrix = pad_sequences(sequences,maxlen=max_len)

In [21]:
inputs = Input(name='inputs',shape=[max_len])
layer = Embedding(max_words,50,input_length=max_len)(inputs)
layer = LSTM(64)(layer)
layer = Dense(256,name='FC1')(layer)
layer = Activation('relu')(layer)
layer = Dropout(0.5)(layer)
layer = Dense(1,name='out_layer')(layer)
layer = Activation('sigmoid')(layer)
model = Model(inputs=inputs,outputs=layer)
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 inputs (InputLayer)         [(None, 150)]             0

 embedding (Embedding)       (None, 150, 50)           50000

 lstm (LSTM)                 (None, 64)                29440

 FC1 (Dense)                 (None, 256)               16640

 activation (Activation)     (None, 256)               0

 dropout (Dropout)           (None, 256)               0

 out_layer (Dense)           (None, 1)                 257

 activation_1 (Activation)   (None, 1)                 0

=================================================================
Total params: 96,337
Trainable params: 96,337
Non-trainable params: 0
_________________________________________________________________

In [22]:
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

In [23]:
model.fit(sequences_matrix,Y_train,batch_size=128,epochs=10,validation_split=0.2)

Epoch 1/10
30/30 [==============================] - 15s 384ms/step - loss: 0.3127 - accuracy: 0.8867 - val_loss: 0.1397 - val_accuracy: 0.9810
Epoch 2/10
30/30 [==============================] - 8s 259ms/step - loss: 0.0795 - accuracy: 0.9820 - val_loss: 0.0474 - val_accuracy: 0.9905
Epoch 3/10
30/30 [==============================] - 8s 263ms/step - loss: 0.0431 - accuracy: 0.9873 - val_loss: 0.0472 - val_accuracy: 0.9905
Epoch 4/10
30/30 [==============================] - 8s 258ms/step - loss: 0.0322 - accuracy: 0.9902 - val_loss: 0.0584 - val_accuracy: 0.9873
Epoch 5/10
30/30 [==============================] - 8s 261ms/step - loss: 0.0284 - accuracy: 0.9916 - val_loss: 0.0573 - val_accuracy: 0.9884
Epoch 6/10
30/30 [==============================] - 8s 279ms/step - loss: 0.0180 - accuracy: 0.9937 - val_loss: 0.0633 - val_accuracy: 0.9895
Epoch 7/10
30/30 [==============================] - 7s 250ms/step - loss: 0.0154 - accuracy: 0.9950 - val_loss: 0.0675 - val_accuracy: 0.9873
Epoch 8/10
30/30 [==============================] - 7s 242ms/step - loss: 0.0103 - accuracy: 0.9979 - val_loss: 0.0762 - val_accuracy: 0.9842
Epoch 9/10
30/30 [==============================] - 7s 244ms/step - loss: 0.0065 - accuracy: 0.9982 - val_loss: 0.0951 - val_accuracy: 0.9852
Epoch 10/10
30/30 [==============================] - 7s 239ms/step - loss: 0.0055 - accuracy: 0.9987 - val_loss: 0.1012 - val_accuracy: 0.9842

In [24]:
model.save('sms_classifier.h5')

In [25]:
test_sequences = tok.texts_to_sequences(X_test)
test_sequences_matrix = pad_sequences(test_sequences, maxlen=max_len)

In [26]:
accr = model.evaluate(test_sequences_matrix,Y_test)

27/27 [==============================] - 1s 19ms/step - loss: 0.0850 - accuracy: 0.9868

In [27]:
print('Test set\n Loss: {:0.3f}\n Accuracy: {:0.3f}'.format(accr[0],accr[1]))

Test set
 Loss: 0.085
 Accuracy: 0.987